@model List<ApplicationCore.Models.BookingResponseModel>

@{ ViewData["Title"] = "Booking"; }

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Room Number</th>
                <th>Customer Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var booking in Model)
            {
                <tr>
                    <td> @booking.Id </td>
                    <td> @booking.RoomNO</td>
                    <td> @booking.CName</td>
                    <td> <button class="actionBtn"> Edit </button> <button class="actionBtn"> Delete </button></td>
                </tr>

            }
        </tbody>
    </table>
</div>

<button class="btn addBtn">Add a New Booking</button>