@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Qixin's Hotel Management MVC</h1>

    <div class="container">
        <div class="row">
            <div class="col btnPadding">
                <a class="btn btn-primary btnSize" asp-controller="Room" asp-action="AllRooms"> Rooms </a>
            </div>
            <div class="col btnPadding">
                <a class="btn btn-primary btnSize" asp-controller="RoomType" asp-action="AllRoomTypes"> Room Types </a>
            </div>
        </div>

        <div class="row">
            <div class="col btnPadding">
                <a class="btn btn-primary btnSize" asp-controller="Booking" asp-action="AllBookings"> Bookings </a>
            </div>

            <div class="col btnPadding">
                <a class="btn btn-primary btnSize" asp-controller="Service" asp-action="AllServices"> Services </a>
            </div>

        </div>
    </div>
</div>